[user]
	name = Ryusuke Nomoto
	email = r.nmt000@gmail.com
[github]
	user = r-nmt000
	token = 75482b41622006fa00edda66b1a2d316
[credential]
	helper = osxkeychain

[alias]
  ignore = !"f() { local s=$1; shift; \
    while [ $# -gt 0 ]; do s="$s,$1"; shift; done;\
    curl \"https://www.gitignore.io/api/$s\"; }; f"

[core]
	excludesfile = /Users/nomoto/repos/.gitignore
	editor = /usr/bin/vim
[push]
	default = simple
[merge]
	tool = vimdiff3
        keepBackup = false
[mergetool]
	trustExitCode = false
	keepTemporaries = false
	keepBackup = false
[mergetool "vimdiff3"]
	cmd = git_merge_wrapper3sh \"$MERGED \"$LOCAL\" \"$BASE\" \"$REMOTE\"
