/.vim/bundle/*
!/.vim/bundle/neobundle.vim/
!/.vim/bundle/vimproc
# Created by https://www.gitignore.io

### OSX ###
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Ignore .config but nvim and karabiner custom keybind files
# To achieve it, we need to tweek the gitignore
# https://qiita.com/anqooqie/items/110957797b3d5280c44f
/.config/*
!/.config/nvim/
!/.config/karabiner/
/.config/karabiner/*
!/.config/karabiner/assets/
/.config/karabiner/assets/*
!/.config/karabiner/assets/complex_modifications/
/.config/karabiner/assets/complex_modifications/*
!/.config/karabiner/assets/complex_modifications/0000000000.json
!/.config/karabiner/assets/complex_modifications/0000000001.json
