[submodule ".vim/bundle/neobundle.vim"]
	path = .vim/bundle/neobundle.vim
  url = https://github.com/Shougo/neobundle.vim.git

[submodule ".vim/bundle/vimproc"]
	path = .vim/bundle/vimproc.vim
  url = https://github.com/Shougo/vimproc.vim.git

