/.vim/bundle/*
!/.vim/bundle/neobundle.vim/
!/.vim/bundle/vimproc
# Created by https://www.gitignore.io

### OSX ###
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Ignore karabiner settings but custome keybinds file
/.config/karabiner/*
!/.config/karabiner/assets/complex_modifications/0000000000.json
!/.config/karabiner/assets/complex_modifications/0000000001.json
